*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #434455;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
.logonav {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.logoend {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.menu-list a {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.page-header a:hover,
.page-header a:focus {
  color: #404bbf;
}
.contacts {
  font-style: normal;
}
.contacts-info {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.nav-menu {
  display: flex;
  align-items: center;
}
.contacts-list {
  display: flex;
  gap: 40px;
}
.menu-list {
  display: flex;
  gap: 40px;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 24px;
  padding-top: 24px;
}

.page-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}
.solutions {
  background-color: #2e2f42;
}
.page-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  width: 169px;
  height: 56px;
  border-radius: 4px;
}
.page-button:hover,
.page-button:focus {
  background-color: #404bbf;
}

.container .wrapper-solutions {
  justify-content: center;
}
.wrapper-solutions-title {
  padding-top: 188px;
  padding-bottom: 48px;
}
.wrapper-solutions-button {
  margin-left: 494px;
  margin-right: 495px;
  padding-bottom: 188px;
}

.features-add-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.features-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.section-features-title {
  display: block;
  margin-left: auto;
}
.features-card {
  box-sizing: border-box;
  width: 264px;
  height: 104px;
  width: calc((100% - 72px) / 4);
}
.features-all-cards {
  display: flex;
  margin-top: 120px;
  margin-bottom: 120px;
  width: 1158px;
  padding-left: 50px;
  gap: 24px;
}
.team {
  background-color: #f4f4fd;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.wrapper-team-title {
  padding-top: 120px;
  padding-bottom: 72px;
}

.team-photo {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
}

.photo-name {
  margin-bottom: 32px;
}
.team--add-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 32px;
}

.our-team-four-cards {
  display: flex;
  gap: 24px;
  padding-bottom: 120px;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.portfolio-add-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-descr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.page-footer {
  background-color: #2e2f42;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
